@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700;800&display=swap');


body {
    background: #EFF2F2;
    overflow-x: hidden;
}



.link { letter-spacing: 3px;
    margin-left: 35px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.logo {
    width: 188px;
}

header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(landscape-rio-de-janeiro-surrounded-by-sea-blue-sky-brazil\ 2.png), lightgray 50% / cover no-repeat;
    width: 100%;
    height: 650px;
    background-position: center;
    background-size: cover;

}

article {
    display: flex;
    flex-direction: column;

}

.title {
    font-family: 'Inter', sans-serif;
    color: #FFF;
    margin-top: 146px;
    margin-left: 17%;
}

.title1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.title2 {
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.3px;
}

.button1 {
    border-radius: 40px;
    border: 3px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    width: 190px;
    height: 52px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 70px;
    cursor: pointer;
}

.button1:hover {
    color: #4F5B60;
    background-color: #FFF;
    font-weight: 700;
    transform: translate(-0.10em, -0.10em);
    box-shadow: 0.25em 0.25em #b6b7b7;
}

.button1:active {
    transform: translate(0.10em, 0.10em);
    box-shadow: 0.10em 0.10em #ffffff;
}

.marg-l {
    margin-left: 20px;
}

.gap-country {
    gap: 30px;
}

.highlights {
    display: flex;
    justify-content: center;
}

.title-highlights {
    flex-direction: column;
    justify-content: left;
    margin-top: 135px;

}

.text1 {
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-left: 62px;
}

.text2 {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 60px;
    margin-left: 62px;
    margin-top: -7px;

}

.country1 {
    background-image: url(img/Japao.png);
    width: 244px;
    height: 384px;
    display: flex;
}

.country2 {
    background-image: url(img/Costa\ Rica.png);
    width: 244px;
    height: 384px;
    display: flex;

}

.country3 {
    background-image: url(img/Dinamarca.png);
    width: 244px;
    height: 384px;
    display: flex;

}

.country4 {
    background-image: url(img/Africa\ do\ Sul.png);
    width: 244px;
    height: 384px;
    display: flex;

}

.name {

    background-color: #ffffff;
    width: 200px;
    height: 59px;
    margin-bottom: 40px;
    position: relative;
    right: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.name-country {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.name-continent {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: -11px;
}

.pdl-25 {
    padding-left: 25px;
}

.see-more {
    color: #000;
    text-decoration: none;
    font-style: normal;
    justify-content: right;
    display: flex;
    padding: 10px;
}

.text3 {
    padding-right: 5px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.country1:hover {
    transform: scale(1.05);

}

.country2:hover {
    transform: scale(1.05);
}

.country3:hover {
    transform: scale(1.05);
}

.country4:hover {
    transform: scale(1.05);
}

.see-more:hover {
    transform: translatex(25px);


}

.marg-t {
    margin-top: 70px;
}

a {
    text-decoration: none;
}

.qualities-title {

    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
}

.qualities-title2 {
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
}

.title-benefits {
    height: 14px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding: 35px;
    text-transform: uppercase;
}

.text-benefits {
    width: 298px;
    height: 101px;
    font-family: Inter;
    text-align: justify;
    font-size: 10px;
    font-style: normal;
    line-height: 19.5px;
    font-weight: 500;
    margin: 0 auto;
}

.airplane-image {
    display: flex;
    width: 158px;
    height: 119px;
    align-self: flex-end;
    margin-right: -28px;
}

.treveling-box {
    background-color: #fff;
    width: 337.007px;
    height: 266px;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.benefits {
    display: flex;
    margin-top: 45px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.airplane-image2 {
    width: 158px;
    height: 119px;

    margin-left: -13px;
}

.marg-benefits {
    margin-left: 20px;
    margin-right: 20px;
}

.bebas-neue{
    font-family: 'Bebas Neue', sans-serif;
}


.inter{
font-family: 'Inter', sans-serif;;
}

.footer {
    margin-top: 250px;
    width: 100%;
    background: #6BB2C1;
    color: #fff;
    position: relative;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-footer {
    flex-direction: column;
    height: 190px;
    margin: 25px;
    justify-content: center;
    width: 215px;
}

.text-footer2 {
    flex-direction: column;
    height: 155px;
    margin: 50px;
    margin-left: 100px;
}

.footer-logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
}

.footer-address {
    width: 135px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-information {
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.information {
    list-style: none;
    font-family: Inter;
    padding: initial;
}

.line-footer {
    background: #FFF;
    width: 1450px;
    margin: 0 auto;
    opacity:initial ;
}

.copyright {
    margin-top: 30px;
    color: #FFF;
    font-family: Inter;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.copyright-text {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    display: flex;
}